@import "config";
@import "menu";
@import "modal";

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Bebas Neue', cursive;
  line-height: 1.5;

  p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.6px;
  }
}

// Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.3rem;

  &.lg-heading {
    font-size: 3.5rem;
  }

  &.sm-heading {
    
    padding: 0.2rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
  letter-spacing: 0.1rem;
}

main {
  align-items: center;
  text-align: center;
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 0vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 2px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.2rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Work/Projects Page
.projects, .projects-modal-mobile {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 0.7rem;
  margin-top: 2rem;

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }

  figure {
    margin: 1em;
  }
  figcaption {
    text-align: center;
  }
}

// Projects in the Modal

.projects-modal {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 0.7rem;
  margin-top: 2rem;

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }

  figure {
    margin: 0em;
  }

  figcaption {
    text-align: center;
  }
}

.projects-modal-mobile {
  img {
    border: none;
  }
}

// Contact Page

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.boxes {
  margin-top: 1rem;

  div {
    width: 18em;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 1.5rem;
    @include easeOut;

    &:hover {
      padding: 0.8rem 1.5rem;
      background: $secondary-color;
      color: $primary-color;
      span {
        color: $primary-color;
      }
      i {
        color: $primary-color;
      }
    }
  }
}

.form {
  width: 40%;
  font-size: 1.5rem;
  border: 3px #fff solid;
  padding: 1.5rem 2.5rem;
  margin-left: 3em;


  ::placeholder {
    font-family: "Segoe UI";
    font-weight: 600;
  }
  fieldset {
    border: none;
  }
  input {
    width: 100%;
    padding:.5rem;
    height: 3em;
  }
  textarea {
    width: 100%;
    padding:.5rem;
    height: 10em;
  }

  button {
    width: 100%;
    font-weight: 600;
  }

  h4 {
    letter-spacing: 0.1rem;
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color ($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
  letter-spacing: .1rem;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #111;
  letter-spacing: .1rem;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
